Flask~=3.0.3
argparse~=1.4.0
pyinstrument~=5.0.1
maturin~=1.8.6; sys_platform == 'linux'

./lib/rshifter-0.2.0-cp313-cp313-win_amd64.whl; sys_platform == 'win32' and python_version == "3.13"
./lib/rshifter-0.2.0-cp312-cp312-win_amd64.whl; sys_platform == 'win32' and python_version == "3.12"
./lib/rshifter-0.2.0-cp311-cp311-win_amd64.whl; sys_platform == 'win32' and python_version == "3.11"
./lib/rshifter-0.2.0-cp310-cp310-win_amd64.whl; sys_platform == 'win32' and python_version == "3.10"
./lib/rshifter-0.2.0-cp39-cp39-win_amd64.whl; sys_platform == 'win32' and python_version == "3.9"
./lib/rshifter-0.2.0-cp38-cp38-win_amd64.whl; sys_platform == 'win32' and python_version == "3.8"
